html
  head
    title= title
    style
      include ./../public/styles/stileItunes.css
  body
    h1= message
    //Gestione degli array in PUG:  https://pugjs.org/language/iteration.html
    ul
      each val in array
        .song
          img(src= val.immagine, value= val.audio, alt='')
          h3 #{val.nome}
          h2 #{val.titolo}
          audio.play(controls='')
            source(value='', src=val.audio, type='audio/mpeg')